gitea:
  package_name: gitea
  service_name: gitea
  service_enable: true
  conf_file: /etc/gitea/conf/app.ini
  conf_user: git
  conf_group: root
  conf_mode: 640

  # SQLite example
  db:
    type: sqlite3
    path: /var/db/gitea/gitea.db
    ssl_mode: disable
  # MariaDB example
  db:
    type: mysql
    host: 127.0.0.1
    dbname: gitea
    user: gitea
    passwd: SuperSecretPassword
    ssl_mode: disable

  server:
    domain: git.example.com # Change this
    address: 127.0.0.1 # Change this if you're not using a reverse proxy
    port: 3000
    root_url: http://git.example.com/ # Change this
    disable_ssh: false
    ssh_domain: '%(DOMAIN)s'
    ssh_port: 22
    offline_mode: false
    app_data_path: /var/db/gitea/data

  security:
    secret_key: UbACXCidm5GfvuxWPbpgC # You need to change this
    internal_token: XrbJQ3lAsyxSaU23TkcArC9DhysBYMDV # You need to change this

  log:
    path: /var/log/gitea
    mode: file
    level: Info

  picture:
    avatar_path: /var/db/gitea/data/avatars
    disable_gravatar: false
    enable_federated_avatar: false
